/* Media Query Smartphone */

@media screen and (max-width: 824px) {

    /* menu hamburguesa */



    .products-container{
        display: flex;
        flex-direction: column;
    }

    .singleProduct-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .singleProduct-container img{
        grid-area: 1 / 1 / 3 / 4;
        width: 200px;
    }

    .singleProduct-container label{
        grid-area: 1 / 1 / 2 / 2;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .singleProduct-container button{
        margin-bottom: 30px;
    }

    
    .cart-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.2rem;
        list-style: none;
    }

    .cart-container li{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }

    .cart-total{
        padding: 1.5rem;
        text-align: center;
        border: 2px solid black;
        width: 20%;
        margin-bottom: 30px;
    }

}
